<toolbar
  [events]="allEvents"
  (onAdd)="onAdd2($event)"
  (onRefresh)="onRefresh()"
  (onSearch)="onSearch($event)"
  (onFocusSearch)="onFocusSearch()"
></toolbar>
<pager 
  (onPrev)="onPrev()" 
  (onNext)="onNext()" 
  (onToday)="onToday()" 
>{{getMonthString()}}</pager>
<kendo-grid [data]="month">
  <kendo-grid-column>
    <ng-template kendoGridCellTemplate let-dataItem>
      <day [day]="dataItem.monday"
        (onSelect)="onDaySelect($event)"
        (onDblClick)="onDayDblClick($event)"
      ></day>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column>
    <ng-template kendoGridCellTemplate let-dataItem>
      <day [day]="dataItem.tuesday"
        (onSelect)="onDaySelect($event)"
        (onDblClick)="onDayDblClick($event)"
      ></day>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column>
    <ng-template kendoGridCellTemplate let-dataItem>
      <day [day]="dataItem.wednesday"
        (onSelect)="onDaySelect($event)"
        (onDblClick)="onDayDblClick($event)"
      ></day>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column>
    <ng-template kendoGridCellTemplate let-dataItem>
      <day [day]="dataItem.thursday"
        (onSelect)="onDaySelect($event)"
        (onDblClick)="onDayDblClick($event)"
      ></day>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column>
    <ng-template kendoGridCellTemplate let-dataItem>
      <day [day]="dataItem.friday"
        (onSelect)="onDaySelect($event)"
        (onDblClick)="onDayDblClick($event)"
      ></day>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column>
    <ng-template kendoGridCellTemplate let-dataItem>
      <day [day]="dataItem.saturday"
        (onSelect)="onDaySelect($event)"
        (onDblClick)="onDayDblClick($event)"
      ></day>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column>
    <ng-template kendoGridCellTemplate let-dataItem>
      <day [day]="dataItem.sunday"
        (onSelect)="onDaySelect($event)"
        (onDblClick)="onDayDblClick($event)"
      ></day>
    </ng-template> 
  </kendo-grid-column>
</kendo-grid> 

<kendo-popup [popupClass]="'editor popup'" [anchor]="anchor" *ngIf="edit">
  <editor  
    [event]="selectedDay.event"
    [members]="members"
    (onAdd)="onAdd($event)"
    (onEdit)="onEdit($event)"
    (onDelete)="onDelete($event)"
    (onClose)="onClose()"
  ></editor>
</kendo-popup>

<kendo-popup [popupClass]="'quick-editor popup'" [anchor]="anchor2" *ngIf="edit2">
  <quick-editor
    (onClose)="onCloseQuickEditor()"
    (onAdd)="onAddQuickEditor($event)"
  ></quick-editor>
</kendo-popup>