.editor {
  padding: 30px;
  color: 656565;
  background-color: #f9f9f9;
  border: 1px solid #ebebeb;
  width: 284px;
}

.k-grid-header {
  display: none;
}

.k-grid tr.k-alt {
  background-color:  inherit !important;
}

.k-grid td {
  border: 0 !important;
  padding: 0 !important;
}

.quick-editor {
  padding: 30px;
  color: 656565;
  background-color: #f9f9f9;
  border: 1px solid #ebebeb;
  width: 400px;
}
